<ul class="nav nav-pills nav-justified">
	<li role="presentation" class="<%= "active" if params[:action] == 'course'%>">
		<%= link_to "课程", admin_course_path %>
	</li>
	<li role="presentation" class="<%= "active" if params[:action] == 'video'%>">
		<%= link_to "类目", admin_video_path %>
	</li>
	<li role="presentation" class="<%= "active" if params[:action] == 'test'%>">
		<%= link_to "测试", admin_test_path %>
	</li>
</ul>