<div class="container main-content">
	<%= render partial:"admin/nav"%>	
	<br>
	<br>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>课程名</th>
				<th>视频</th>
			</tr>
		</thead>
		<tbody>
			<% @courses.each do |course|%>
				<tr>
					<th>
						《<%= course.title %>》<br><br>
						<%= link_to "新增视频", course_path(course), class:"btn btn-primary"%>
					</th>
					<td style="padding:0;">
						<table class="table table-condensed table-bordered" style="margin:0;">
							<tbody>
								<% course.videos.each do |video| %>
								<tr>
									<td><%= video.title %></td>
									<td><%= video.introduce %></td>
									<td><%= video.teacher %></td>
									<td><%= video.poster %></td>
									<td><%= video.video %></td>
									<td><%= link_to "编辑", [:edit, video.course, video], class:"btn btn-warning" %></td>
									<td><%= link_to "删除", [video.course, video], method: :delete, data: {confirm: "Are you sure?"} , class:"btn btn-danger"%></td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
