<div class="flex vbox signin-body">
	<div class="flex"></div>
	<div class="container">
		<div class="col-md- col-md-offset-7">
			<div class="signin-main">
				<div role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active sign-tab"><a href="#signin" role="tab" data-toggle="tab">登录</a></li>
						<li role="presentation" class="sign-tab"><a href="#signup" role="tab" data-toggle="tab">注册</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<!--登录-->
						<div role="tabpanel" class="tab-pane sign-area active" id="signin">
							<%= simple_form_for :user, url: users_path do |signin|%>
								<%= signin.input :name, label: '用户名'%>
								<%= signin.input :pwd, label: '密码' %>
								<%= signin.button :submit ,'登录',class:'forget'%>
							<% end %>
						</div>
						<!--注册-->
						<div role="tabpanel" class="tab-pane sign-area" id="signup">
							<%= simple_form_for :user, url: signups_path do |user|%>
								<%= user.input :name, label: '用户名'%>
								<%= user.input :pwd, label: '密码' %>
								<%= user.button :submit, '注册' ,class:'forget'%>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="flex"></div>
</div>	