<%= form_for([@course, @course.videos.build]) do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :teacher %><br>
		<%= f.text_field :teacher %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>