<div class="container main-content">
	<%= form_for([@video.course, @video]) do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :teacher %><br>
		<%= f.text_field :teacher %>
	</p>
	<p>
		<%= f.submit %>
	</p>
	<% end %>
	<%= link_to "返回", admin_video_path %>
</div>