<!--content-->
<div class="container video">
	<div class="row">
		<div class="col-md-7 text-center">
			<video width="99.95%" height="422" class="mejs-player" poster="/assets/<%= @video.poster %>" controls="controls" preload="none">
				<source type="video/mp4" src="<%= @video.video %>" />
				<source type="video/webm" src="myvideo.webm" />
				<source type="video/ogg" src="myvideo.ogv" />
			</video>
		</div>
		<div class="col-md-5">
			<div class="introduce">
				<h2 class="text-center"><%= @video.title %></h2>
				<h3>课程介绍：</h3>
				<p class="text-justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @video.introduce %></p>
				<h3>讲师：</h3>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @video.teacher%></p>
			</div>
		</div>
	</div>
	<div class="text-center">
		<%= link_to "本科作业", video_tests_path(@video), class: "btn btn-info btn-course", role: "button" %>
		<span>&nbsp;</span>
		<%= link_to "成绩查询", "#", class: "btn btn-info btn-course", role: "button" %>
	</div>
</div>
<!--video-list-->
<div class="container video-list">
	<div class="list-title">
		<span class="rel">相关课程</span>
	</div>
	<div class="list-body">
		<%@course.videos.each do |v|%>
		<h4><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;&nbsp;&nbsp;<%= v.title %></h4>
		<hr class="dot">
		<% end %>
	</div>
</div>