<%= simple_form_for :user, url: logups_path do |user|%>
<% if @logup.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@logup.errors.count, "error") %> prohibited
	      this user from being saved:</h2>
	    <ul>
	    <% @logup.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
<% end %>
<%= user.input :name, label: '用户名'%>
<%= user.input :pwd, label: '密码' %>
<%= user.button :submit%>
<% end %>