<div class="container main-content">
	<h2>show    tests</h2>
<p>
	<strong>problem</strong><br>
	<%= @test.problem %>
</p>
<p>
	<strong>option_a</strong><br>
	<%= @test.option_a%>
</p>
<p>
	<strong>option_b</strong><br>
	<%= @test.option_b%>
</p>
<p>
	<strong>option_c</strong><br>
	<%= @test.option_c%>
</p>
<p>
	<strong>option_d</strong><br>
	<%= @test.option_d%>
</p>
<p>
	<strong>answer</strong><br>
	<%= @test.answer%>
</p>
<p>
	<strong>score</strong><br>
	<%= @test.score%>
</p>
</div>