<!DOCTYPE html>
<html>
<head>
	<title>Education</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<!--in order to display user page better -->
<div class="<%= "vbox" if params[:controller] == "users"%>">
	<!--navbar-->
	<%= render partial:"share/topbar"%>

	<%= yield %>	
</div>
<!--footer-->
<div class="<%= "container" if params[:controller] != "users"%>">
	<div class="<%= "row" if params[:controller] != "users"%>">
		<div class="write-row"></div>
		<%= render partial: "share/footer"%>		
	</div>
</div>

</body>
</html>
